@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&display=swap');

body {
    font-family: 'EXO 2', sans-serif;
    background-color: #1e1e2e;
    color: #e4e4e4; 
    margin: 0;
    padding: 20px;
}

h1 {
    color: #9c27b0; 
    text-shadow: 2px 2px 4px #000; 
}

p, ul {
    color: #ffffff;
    line-height: 1.6;
}

strong {
    color: #ffeb3b; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #3f51b5; 
    color: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000; 
}
